footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 118px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* Define duas colunas, uma menor para a imagem e outra maior para o texto */
    justify-items: center;
    /* Centraliza os itens horizontalmente dentro de cada célula do grid */
    align-items: center;
    /* Centraliza os itens verticalmente */
    line-height: 0.8;
}


footer img {
    width: 120px;
    height: 20px;
    margin-left: 160px;
}

footer div:first-child {
    display: flex;
    /* Usar flexbox para alinhar a imagem */
    justify-content: flex-end;
    /* Alinha a imagem à direita */
    margin-right: 20px;
    /* Margem à direita da imagem */
}

footer div:last-child {
    margin-right: 30px;
    /* Adiciona margem à direita do texto */
    width: 76%;
}

footer span {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 9px;
    text-align: left;
    /* Alinha o texto à esquerda */
}

@media (max-width: 480px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 5fr;
        /* Define duas colunas, uma menor para a imagem e outra maior para o texto */
        justify-items: start;
        /* Centraliza os itens horizontalmente dentro de cada célula do grid */
        align-items: center;
        /* Centraliza os itens verticalmente */
        text-align: left;
        height: 100px;
    }

    footer img {
        width: 90%;
        height: 90%;
    }

    footer span {
        font-size: 5px;
        text-align: left;
        /* Alinha o texto à esquerda */
    }

    footer div:last-child {
        margin-right: 0px;
        /* Adiciona margem à direita do texto */
        width: 100%;
    }

}