/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  html {
    margin: 0;
    /* Remove margens padrão */
    padding: 0;
    /* Remove qualquer padding padrão */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .cabecalho {
    background-color: black;
    width: 100%;
    height: 30px;
  
    display: flex;
    /* Ativa o flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
  }
  
  p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 4.8px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    font-size: 12px;
    /* Remove qualquer margem padrão do parágrafo */
  }